* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #333;
	line-height: 1.6;
}

header {
	background-image: url(assets/banner-bg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.main-nav {
	float: right;
	list-style: none;
	margin-top: 55px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-end;

}

.main-nav li {
	display: inline-block;
}

.main-nav li a {
	color: white;
	text-decoration: none;
    padding: 5px 12px; 
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 500;
	transition: all 0.3s ease; 
}

.main-nav li.active a {
	border-bottom: 2px solid #3498db;
}

.main-nav li a:hover {
	border-bottom: 1px solid white;
}

.logo {
	width: 120px;
	height: auto;
	float: left;
	margin-top: 30px;
}



.row {
	max-width: 1200px;
	margin: auto;
}

.hero {
	position: absolute;
	top: 100px;
	width: 100%;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	margin-top: 300px;
}

.button {
	text-align: center;
	margin-top: 50px;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	border: none;
	padding: 12px 30px;
	color: white;
	margin-right: 5px;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 30px; 
	transition: all 0.3s ease;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-one {
	background-color: #3498db;
}
.btn-two {
	background-color: transparent;
	border: 2px solid white;
}
.btn-one:hover {
	background-color: #2980b9;
}
.btn-two:hover {
	background-color: #3498db;
	border-color: #3498db;
	transition: all 0.2s ease-in;
}

.grid-container {
	display: grid;
  	grid-template-columns: auto auto;
  	padding: 10px;
}

.grid-item {
	padding: 20px;
}

.service {
	background-image: url(assets/img-banner@2x.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
}


.about {
	background-image: url(assets/DSC_0036.JPG);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.blog {
	background-image: url(assets/banner-texture@2x.png);
	height: 100vh;
	background-size: cover;
	background-position: center;

}

.contact {
	background-image: url(assets/img-contact-form-bg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.faq {
	background-image: url(assets/img-prop-type@2x.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.formulario {
	font-family: 'Poppins', sans-serif;
	margin: auto;
	padding: 0 200px;
}

.contact-section-header {
	color: #282828;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	margin-bottom: 20px;
    font-weight: 600;

}

.form input, textarea {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	text-decoration: none;
	outline: none;
	width: 70%;
	height: 60px;
	padding-left: 15px;
	border-radius: 8px;
	border: none;
	margin: 8px 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
}
.form input:focus, textarea:focus {
	box-shadow: 0 2px 8px rgba(52, 152, 219, 0.5);
}

.form input.button {
    background-color: #3498db;
    border: none;
    color: white;
    width: 71%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
	font-weight: 600;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 8px;
	transition: all 0.3s ease;
 }

 .form input.button:hover {
	background-color: #2980b9;
}

input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
 }

 .subject {
 	height: 150px;
 	color: black;
 }

@media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  	.blog {
    	background-image: url(assets/banner-texture@2x.png) !important;
  	}

  	.faq {
    	background-image: url(assets/img-prop-type@2x.jpg) !important;
  	}
}



/* sección de servicios */
.service-content {
    border-radius: 8px;
    padding: 30px;
    margin: 40px 0;
	color: #282828;

}

.service-content h2 {
    font-family: 'Montserrat', sans-serif;
    color: #3498db;
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.subtitle-servicios{
	color: aliceblue;
	font-weight: 300;

}

.service-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.service-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.service-card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
	color: #333;
}

.service-card:hover {
    transform: translateY(-8px);
	box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.service-card h3 {
    font-family: 'Montserrat', sans-serif;
    color: 3498db;
	font-weight: 600;
    margin-bottom: 15px;
}

.service-card p {
    font-size: 14px;
    margin-bottom: 0;
    color: #555;
}
.service-image{
	
}

/* sección Sobre Nosotros */
.about-content {
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 12px;
    padding: 30px;
    margin: 50px 150px;

}

.about-content h2 {
    font-family: 'Montserrat', sans-serif;
    color: #3498db; 
    font-size: 36px;
	font-weight: 700;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.about-content p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
	color: #f5f5f5;
}

.values {
    margin-top: 30px;
}

.values h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3498db; 
	font-weight: 600;
    margin-bottom: 20px;
}

.values ul {
    list-style-type: none;
    padding-left: 0;
	color: #f5f5f5;
}

.values ul li {
    padding: 8px 0;
    position: relative;
    padding-left: 30px;
}

.values ul li:before {
    content: "✓";
    color: #3498db; 
    position: absolute;
    left: 0;
}

/* sección de Blog */
.blog-content {
    background-color: #3498db; 
    border-radius: 8px;
    padding: 30px;
    margin: 100px 0;
    text-align: center;

}

.blog-content h2 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.blog-content p {
    font-size: 16px;
    line-height: 1.6;
	color: #f5f5f5;
}

.blog-posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;

}

.blog-post {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-height: 150px;
    overflow-y: auto;
}

.blog-post:hover {
    transform: translateY(-8px);
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.blog-post h3 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin-bottom: 5px;
}

.post-date {
    color: #777;
    font-size: 12px;
    margin-bottom: 5px;
}

.post-excerpt {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 5px;
	color: #555;
}

.read-more {
    display: inline-block;
    color: #3498db; 
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
	border-bottom: 2px solid transparent;
}

.read-more:hover {
    color: #2980b9;
	border-bottom: 2px solid #2980b9;
}

/*sección de Contacto*/
.contact-info {
    background-color: white;
    border-radius: 12px;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);

}

.contact-info h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3498db; 
	font-weight: 600;
    margin-bottom: 25px;
}

.contact-info p {
    margin-bottom: 15px;
    line-height: 1.7;
}

.social-media {
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);

}

.social-media h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3498db; 
	font-weight: 600;
    margin-bottom: 25px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.social-icons a:hover {
    background-color: darkorange;
}

.social-icons img {
    width: 20px;
    height: 20px;
}

.contact-redes{
}

/* sección de Preguntas Frecuentes */
.faq-header {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 30px;
    margin: 200px 0;
}

.faq-header h2 {
    font-family: "Roboto", sans-serif;
    color: #282828;
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.faq-header p {
    font-size: 16px;
    line-height: 1.6;
}

.faq-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.faq-item {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.faq-item:hover {
    transform: translateY(-5px);
}

.faq-item h3 {
    font-family: "Roboto", sans-serif;
    color:#2980b9;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
}

.faq-item p {
    font-size: 14px;
    line-height: 1.6;
}